@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Grapevine</h1>
    <p>Asynchronous streams with gRPC and SignalR</p>
</div>

<div class="container">
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col-2">Count</div>
        <div class="col-4"><input type="number" id="countInput" /></div>
    </div>
    <div class="row">
        <div class="col-2">Delay</div>
        <div class="col-4"><input type="number" id="delayInput" /></div>
    </div>
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col-6">
            <input type="button" id="startButton" value="Start!" />
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <hr />
    </div>
</div>

<div class="row">
    <div class="col-6">
        <ul id="list"></ul>
    </div>
</div>

<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/trigonometry.js"></script>
